<ion-grid>
    <ion-row>
        <ion-col size='4'>
            <ion-img src="http://ubaya.fun/hybrid/160419076/product_api/images/{{url}}">
            </ion-img>
        </ion-col>
        <ion-col size='8'>
            <ion-grid>
                <ion-row>
                    <ion-col><b>{{name}}</b></ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>Rp. {{price}}</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col><small>{{desc}}</small></ion-col>
                </ion-row>
            </ion-grid>
        </ion-col>
    </ion-row>
</ion-grid>