<ion-app *ngIf="user_id">
    <ion-menu content-id="content">
        <ion-menu-toggle>
            <ion-list>
                <ion-item>
                    <ion-icon name="star" slot="start"></ion-icon>
                    <ion-label routerLink='/product'>Product List</ion-label>
                </ion-item>
                <ion-item>
                    <ion-icon name="heart" slot="start"></ion-icon>
                    <ion-label routerLink='/covid'>Cegah Covid</ion-label>
                </ion-item>
                <ion-item>
                    <ion-icon name="film" slot="start"></ion-icon>
                    <ion-label routerLink='/movielist'>Movie List</ion-label>
                </ion-item>
                <ion-item>
                    <ion-icon name="walk-outline" slot="start"></ion-icon>
                    <ion-label (click)='logout()'>Logout</ion-label>
                </ion-item>
            </ion-list>
        </ion-menu-toggle>
    </ion-menu>
    
    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-menu-button autoHide="false"></ion-menu-button>
            </ion-buttons>
            <ion-title>Halo {{ username }}</ion-title>
        </ion-toolbar>
    </ion-header>
    
    <ion-content>
        <router-outlet id="content"></router-outlet>
    </ion-content>
</ion-app>

<ion-app *ngIf="!user_id">
    <ion-header>
        <ion-toolbar>
            <ion-title>Login</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-card>
            <ion-item>
                <ion-input name="email" type="email" placeholder="your@email.com" [(ngModel)]='login_user'></ion-input>
            </ion-item>
            <ion-item>
                <ion-input name="password" type="password" placeholder="Password" [(ngModel)]='login_passwd'></ion-input>
            </ion-item>
            <ion-button type="submit" expand="block" (click)='login()'>Login</ion-button>
            <ion-chip *ngIf="login_error">{{login_error}}</ion-chip>
        </ion-card>
    </ion-content>
</ion-app>