<ion-header>
    <ion-toolbar>
        <ion-title>Hello {{username}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Welcome to {{ judul }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-img
                src="http://4.bp.blogspot.com/_DEIjBlFRV_8/TTvPRsRY8hI/AAAAAAAACPk/1gag8y8PyH4/s1600/quick-brown-fox-18.jpg">
            </ion-img>
            quick brown fox jump over the lazy dog
        </ion-card-content>
    </ion-card>
</ion-content>