<!-- <br>
<ion-button size="small" (click)="fontSize=fontSize+1">+</ion-button>
<ion-button size="small" (click)="fontSize=fontSize-1">-</ion-button> -->

<!-- <h1>{{ json }}</h1>
<ion-button (click)="listProduct()">Get Product</ion-button> -->

<app-productform></app-productform>

<ion-card *ngFor="let product of products; let i = index">
    <ion-card-content>
        <ion-chip>{{ i+1 }}</ion-chip>
        <ion-img src="http://ubaya.fun/hybrid/160419076/product_api/images/{{ product.url }}" [ngStyle]="{'margin':'1rem 0 1.5rem'}"></ion-img>
        <h4 [ngStyle]="{'font-size': fontSize + 'pt'}"><b>{{ product.name }}</b></h4>
        <p [ngStyle]="{'font-size': fontSize + 'pt'}" *ngIf="product.disc>0"><s>Rp. {{product.price}}</s></p>
        <p [ngStyle]="{'font-size': fontSize + 'pt'}">Rp. {{ product.price - (product.price * product.disc) }}</p>
        <!-- <ion-button [ngStyle]="{'margin':'1rem 1rem 1rem 0'}" (click)="showClick(i)">Show More</ion-button> -->
        <ion-button color='warning' routerLink='/detail/{{i+1}}'>See Detail</ion-button>
        <!-- <ion-list *ngIf="product.open">
            <ion-item *ngFor="let sp of product.spec; let j = index">
                {{ sp }}
            </ion-item>
        </ion-list> -->
    </ion-card-content>
</ion-card>